
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #64ffff;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(100, 255, 255,.5);
    font-size: 1.5rem;
    padding: 1rem;
    /* color: #1a93ca; */
}
nav {
    border-bottom: 2px solid #64ffff!important;
}
.bg-dark {
    background: linear-gradient(#18222b, #465260)no-repeat fixed center;
    
}
.ml-auto, .mx-auto {
    max-width: 20%;
}
.border-top {
    border-top: 2px solid #64ffff!important;
}
.rightColor {
    color: linear-gradient(#18222b, #465260)no-repeat fixed center;
}
.btn-primary {
    background-color: #64ffff!important;
    color: #18222b!important;
    border: none;
}
.col-6 h5 {
    color: #64ffff;
    display: inline;
}
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap*/

/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
    .ml-auto, .mx-auto {
        max-width: 30%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .ml-auto, .mx-auto {
        max-width: 50%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .ml-auto, .mx-auto {
        max-width: 60%;
    }
}
/* Small devices (landscape phones, 576px and up)  */
@media (max-width: 576px) { 
    .ml-auto, .mx-auto {
        max-width: 50%;
    }
 }
