
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #64ffff;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(100, 255, 255,.5);
    font-size: 1.5rem;
    padding: 1rem;
}
.bg-dark {
    background-color: #000!important;
}
.ml-auto, .mx-auto {
    max-width: 20%;
}
.border-top {
    border-top: 3px solid #64ffff!important;
}
.btn-primary {
    background-color: #64ffff!important;
    color: #18222b!important;
    border: none;
}
.col-12 h6 {
    color: #64ffff;
    display: inline;
    
}
.col-12 a {
    text-decoration: none;
}
.heading {
    background-color: #000;
    margin-left: 15px;
    margin-right: 200px;
    width: 100%;
}
.col-12 h1 {
    background: -webkit-linear-gradient(left, #2482bf, #64ffff);
    color: #000;
    font-weight: bold;
}
.accordion-button {
    background: -webkit-linear-gradient(left, #2482bf, #64ffff);
}
a h5 {
    text-decoration: none;
}
.navbar-dark .navbar-toggler {
    color: #64ffff;
    margin: 15px 0px 15px 0px;
}
/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
   
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
   
}
/* Small devices (landscape phones, 576px and up)  */
@media (max-width: 576px) { 
  
 }
